.btn{
    z-index: 1000;
    background: linear-gradient(45deg, rgba(60,9,108,1) 29%, rgba(102,42,130,1) 100%);
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid grey;
    border-radius: 50%;
    cursor: pointer;
}
.icon_filter{
    margin-top: 5px;
    transform: scale(1.6);
}
.icon{
    transform: scale(2.2);
}
.wrapper{
    position: absolute;
    z-index: 10050;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
    margin-bottom: 4vmin; 
    margin-right: 2vmin;
    border-radius: 40px;
    transition: all .2s;
}
.options{
    display: none;
    transition: all .2s;
}