.icon{
    transform: scale(2.2);
}
.btn{
    z-index: 1000;
    background: linear-gradient(45deg, rgba(60,9,108,1) 29%, rgba(102,42,130,1) 100%);
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid grey;
    border-radius: 50%;
    cursor: pointer;
}
.options{
    display: none;
    margin-right: 10px;
    transition: all .2s;
}