.wrapper{
    height: 80%;
}
.subwrap{
    width: 50%;
    height: 90%;
    flex-direction: column;
}
.btn{
    margin-top: 20px;
    width: 40vmin;
    height: 45px;
    font-size: 125%;
}
.search{
    width: 65vmin;
    height: 40px;
    font-size: 125%;
}
.search:focus{
    outline: none;
}
.text{
    width: 65vmin;
    display: flex;
    align-items: flex-end;
    font-size: large;
}
.error{
    display: none;
    color: red;
    font-weight: bold;
}
.ul{
    width: 65vmin;
    overflow: auto;
    text-align: center;
}
.li{
    list-style: none;
    padding: 6px 6px;
    cursor: pointer;
    border-bottom: 1px solid white;
    border-collapse: collapse;
    margin-top: 10px;
}